@import '../vendor/smart-grid/smart-grid'
@import 'fonts'
@import 'variables'

+reset()
*
  box-sizing: border-box
#app
  overflow: hidden

body
  transition: background-color .3s
  color: #fff
  font-size: 16px
  font-family: 'Orbitron', sans-serif
  letter-spacing: 1px
  background-color: #191919

a
  text-decoration: none
h1
  font-family: Ubuntu, sans-serif
  font-size: 2.5rem
h2
  color: $main-color
  font-size: 30px
  text-transform: uppercase
  font-family: Ubuntu, sans-serif
h3
  font-size: 22px
  margin-bottom: 30px
.container
	+wrapper
	position: relative
	height: auto
.container-min
  max-width: 1300px
  margin: 0 auto
  position: relative
  height: auto
  padding-left: 5px
  padding-right: 5px
.w100
  width: 100%
.hidden
  +md(display, none)
.social
  a
    margin: 0 5px
  img
    width: 15px

.btn-to-top
  width: 45px
  height: 45px
  display: block
  opacity: .6
  transition: all .3s ease-in
  cursor: pointer
  outline: none
  +md(display, none)

  &:hover
    opacity: 1
    border-color: $main-color
    color: $main-color

.btn-box
  width: 100%
  display: flex
  margin: 45px 0
  +md(justify-content, center)


@import 'components/animsition'
@import 'components/preloader'
@import 'components/navbar'
@import 'components/home'
@import 'components/swiper'
@import 'components/slider'
@import 'components/order'
@import 'components/ppc'
@import 'components/dev'
@import 'components/modal'
@import 'components/footer'
@import 'components/contacts'







