//------------DEV BANNER------------
.dev
  overflow: hidden
  font-family: Ubuntu, sans-serif

  &__intro
    width: 100%
    height: 100vh
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    overflow: hidden
    background-size: cover
    background-position: center
    background-repeat: no-repeat

    &:after
      content: ''
      background-size: 35px 35px
      background: transparent repeating-radial-gradient(center center, #4B367C, #4B367C 1px, transparent 1px, transparent 100%)
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

  &__title
    display: block

  &__content
    width: 100%
    max-width: 900px
    text-align: center
    position: relative
    z-index: 1

    h1
      margin-bottom: 45px
      text-transform: uppercase
      +md(font-size, 30px)

    h3
      +md(font-size, 18px)

    button
      display: inline-block
      line-height: 24px
      margin: 30px 0 0
      height: 30px
      letter-spacing: 0
      font-size: 18px
      white-space: nowrap
      color: #fff
      border-radius: 4px
      background: transparent
      border: 1px solid #fff
      outline: none
      transition: all .3s ease
      cursor: pointer
      width: 130px
      text-align: center

      &:hover
        background: #fff
        color: #1C242F


  .to-bottom
    position: absolute
    bottom: 15px
    z-index: 1
    width: 30px
    height: 50px
    border: 2px solid #4B367C
    border-radius: 20px
    +md(display, none)

    &:before
      content: ''
      width: 5px
      height: 10px
      background: #4B367C
      position: absolute
      top: 10px
      left: 50%
      transform: translateX(-50%)
      border-radius: 40%
      animation: tobottom 1.5s infinite

  @keyframes tobottom
    100%
      opacity: 0
      top: 30px

  //------------DEV BANNER END----------------


  //-------------------PORTFOLIO----------------------
  .portfolio
    background-color: #0E0F13
    color: #60606e
    padding-top: 60px
    padding-bottom: 30px
    overflow: hidden

    &__items
      +row-flex
      justify-content: center
      margin-bottom: 30px

    &__item--1
      +col
      +size(3)
      +size-md(12)

    &__item--2
      +col
      +size(9)
      +size-md(12)
      //transition: all .5s cubic-bezier(.165, .84, .44, 1)

    .grid
      +row-flex
      +col
      justify-content: center

    .grid-item
      +col
      +size(4)
      position: relative
      padding: 0 10px
      margin-top: 20px
      color: #262524
      +md(padding, 0)

      &--img
        position: relative
        border-radius: 8px
        overflow: hidden
        max-height: 180px
        +md(max-height, 110px)

  .button-group
    font-size: 30px
    margin-top: 0
    margin-bottom: 10px
    +md(display, flex)
    +md(flex-wrap, wrap)

  .button
    display: inline-block
    color: #eee
    font-size: 16px
    font-weight: 500
    letter-spacing: 1px
    text-transform: uppercase
    position: relative
    transition: all .4s
    cursor: pointer
    margin-left: 20px

    &:after
      content: ''
      width: 0px
      height: 2px
      background-color: #4B367C
      position: absolute
      top: 8px
      right: -40px
      opacity: 0
      transition: all .4s
      +md(display, none)

  .button:hover
    color: #fff
  .button.is-checked:after
    opacity: 1
    width: 30px

  .button:active,
  .button.is-checked
    color: #4B367C

  //-------------------PORTFOLIO END----------------------
  .ads
    letter-spacing: 0
    background: #0E0F13
    overflow: hidden
    padding-top: 30px
    padding-bottom: 30px
    +md(padding-top, 0)

    p
      color: #fff
      margin-bottom: 25px
      line-height: 1.5
      font-size: 16px
      a
        color: $main-color

        &:hover
          text-decoration: underline

    &__items
      +row-flex
      justify-content: center

    &__item
      +col
      +size(2)
      +size-md(12)

    &__text
      +col
      +size(10)
      +size-md(12)
      +md(padding, 0 20px)
      +md(text-align, justify)

    .blue
      color: #4181EF
    .red
      color: #E23439
    .yellow
      color: #F2B702
    .green
      color: #29A450


