.footer
  font-family: Ubuntu, sans-serif
  background: #111
  padding: 4% 0

  &__title
    color: #FF5D5D
    font-size: 18px
    text-transform: uppercase
    margin-top: 20px
    margin-bottom: 20px
    +md(margin-top, 20px)
    +md(text-align, center)

  &__content
    +row-flex
    justify-content: center
    +md(flex-direction, column)

  &__navigation
    +col
    +size(3)
    +size-md(12)
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    ul
      display: flex
      flex-direction: column
      justify-content: center
      +md(align-items, center)

    li
      color: #fff
      font-size: 14px
      line-height: 26px
      margin-right: 35px
      +md(margin-right, 0)

      a
        color: #fff
        transition: color .5s ease
        span
          text-transform: uppercase
        &:hover
          color: #FF5D5D

  &__submenu
    display: flex
    flex-direction: column
    margin-left: 15px
    +md(margin-left, 0)

    li
      list-style: square outside

  &__contacts
    border: 1px solid red
    +col
    +size(3)
    +size-md(12)
    display: flex
    align-items: center
    flex-direction: column

    a
      padding: 0 20px 20px
      color: #fff
      transition: color .5s ease
      &:hover
        color: #FF5D5D

  &__social
    +col
    +size(3)
    +size-md(12)
    border: 1px solid red
    display: flex
    justify-content: center
    a
      display: block
      padding: 5px 5px
      text-align: left
      color: #fff

    hr
      background: black
      height: 2px
      width: 100%
      border: none

    .viber-desktop
      +sm(display, none)

    .viber-mobile
      display: none
      +sm(display, block)

  &__copyright
    +col
    +size(3)
    +size-md(12)
    text-align: center
    border: 1px solid red



